

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Template &mdash; METplus 3.0 documentation</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
        <script src="../../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/theme_override.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/gallery.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/gallery-binder.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/gallery-dataframe.css" type="text/css" />
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> METplus
          

          
            
            <img src="../../_static/METplus_logo.png" class="logo" alt="Logo"/>
          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">METplus Wrappers Guides</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../index.html">User’s Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../Contributors_Guide/index.html">Contributor’s Guide</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">METplus</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
      <li>Template</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/Users_Guide/template/use-case-application.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="sphx-glr-download-link-note admonition note">
<p class="admonition-title">Note</p>
<p>Click <a class="reference internal" href="#sphx-glr-download-users-guide-template-use-case-application-py"><span class="std std-ref">here</span></a>     to download the full example code</p>
</div>
<div class="sphx-glr-example-title section" id="template">
<span id="sphx-glr-users-guide-template-use-case-application-py"></span><h1>Template<a class="headerlink" href="#template" title="Permalink to this headline">¶</a></h1>
<p>Enter a description of your use case here. This will appear at the very top of the
use case page. It can be fairly long, and can include hyperlinks to websites, references,
or other relevant details to help the user. Any valid RST is acceptable here.</p>
<p>The use case template will follow the general pattern of:</p>
<blockquote>
<div><ul class="simple">
<li><p>Scientific objective</p></li>
<li><p>Datasets</p></li>
<li><p>METplus Components</p></li>
<li><p>METplus Workflow</p></li>
<li><p>METplus Configuration</p></li>
<li><p>Running METplus</p></li>
<li><p>Expected Output</p></li>
<li><p>Keywords</p></li>
</ul>
</div></blockquote>
<div class="section" id="scientific-objective">
<h2>Scientific Objective<a class="headerlink" href="#scientific-objective" title="Permalink to this headline">¶</a></h2>
<p>Describe the scientific objective of the use case here. This can be fairly
simple, or complex depending on the task.</p>
</div>
<div class="section" id="datasets">
<h2>Datasets<a class="headerlink" href="#datasets" title="Permalink to this headline">¶</a></h2>
<p>Describe the datasets here. Relevant information about the datasets that would
be beneficial include:</p>
<blockquote>
<div><ul class="simple">
<li><p>Forecast dataset name/levels/dates/formats</p></li>
<li><p>Observation dataset name/levels/dates/formats</p></li>
<li><p>Sources of data (links, contacts, etc…)</p></li>
<li><p>Example graphics of datasets if appropriate</p></li>
</ul>
</div></blockquote>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Hello World&quot;</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="metplus-components">
<h2>METplus Components<a class="headerlink" href="#metplus-components" title="Permalink to this headline">¶</a></h2>
<p>Describe the METplus Components that are used in this use case. This can be
anything from the METplus wrapper names that are used, to METdb, to METviewer,
to the MET tools (e.g. grid_stat, etc…) that are utilized in this use case.
Try to be as complete as possible.</p>
</div>
<div class="section" id="metplus-workflow">
<h2>METplus Workflow<a class="headerlink" href="#metplus-workflow" title="Permalink to this headline">¶</a></h2>
<p>A general description of the workflow will be useful to the user. For example,
the order in which tools are called (e.g. PcpCombine then grid_stat) or the way
in which data are processed (e.g. looping over valid times) with an example
of how the looping will work would be helpful for the user.</p>
</div>
<div class="section" id="metplus-configuration">
<h2>METplus Configuration<a class="headerlink" href="#metplus-configuration" title="Permalink to this headline">¶</a></h2>
<p>Detail the configuration/conf file for this METplus use case. Also review
how METplus sets configuration variables if the user does not set them (i.e.
it loads from METplus/parm/metplus_config/* before any custom conf files
provided by the user via master_metplus.py -c custom_file.conf).
You can include conf items in code-blocks using RST like this:</p>
<div class="highlight-none notranslate"><div class="highlight"><pre><span></span>[dir]
OUTPUT_BASE=/path/to
</pre></div>
</div>
<p>Or if you want to suck in the entire conf file automatically, provide the relative
path to the conf file from the gallery_dirs directory for this use case specified in the
conf.py file (this is recommended since it will keep in sync with the conf file automatically):</p>
<div class="highlight-none notranslate"><div class="highlight"><pre><span></span>[dir]
OUTPUT_BASE = /path/to
</pre></div>
</div>
</div>
<div class="section" id="running-metplus">
<h2>Running METplus<a class="headerlink" href="#running-metplus" title="Permalink to this headline">¶</a></h2>
<p>It will be helpful to include an example command of running METplus.</p>
</div>
<div class="section" id="expected-output">
<h2>Expected Output<a class="headerlink" href="#expected-output" title="Permalink to this headline">¶</a></h2>
<p>Spend some time detailing how the user will know if the use case succeeded or not. This
could include anything from where expected output files will be, what those filenames will be,
what METplus will print to the command line, images from METplotpy, or something else.
If the expected output is just files, include some information for the user on how they can
know if what is in the files is what is expected.</p>
<p>Using static images is allowed but must use a path relative to the gallery_dirs directory for
this use case (found in the conf.py file). This relative path allows images to be stored with the
use case files under parm/use_cases:</p>
<img alt="../../_images/METplus_logo.png" src="../../_images/METplus_logo.png" />
</div>
<div class="section" id="keywords">
<h2>Keywords<a class="headerlink" href="#keywords" title="Permalink to this headline">¶</a></h2>
<p>Choose from the following pool of keywords, and include them in a note directive below.
Remove any keywords you don’t use.</p>
<p>GridStatUseCase, PB2NCUseCase, PrecipitationUseCase</p>
<p>Now include them like this:</p>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>GridStatUseCase, PB2NCUseCase</p>
</div>
<p class="sphx-glr-timing"><strong>Total running time of the script:</strong> ( 0 minutes  0.000 seconds)</p>
<div class="sphx-glr-footer class sphx-glr-footer-example docutils container" id="sphx-glr-download-users-guide-template-use-case-application-py">
<div class="sphx-glr-download docutils container">
<p><a class="reference download internal" download="" href="../../_downloads/48ad928319958a7255108823cb18916b/use-case-application.py"><code class="xref download docutils literal notranslate"><span class="pre">Download</span> <span class="pre">Python</span> <span class="pre">source</span> <span class="pre">code:</span> <span class="pre">use-case-application.py</span></code></a></p>
</div>
<div class="sphx-glr-download docutils container">
<p><a class="reference download internal" download="" href="../../_downloads/a2b49aa1393ef3ad377aed598badb2c8/use-case-application.ipynb"><code class="xref download docutils literal notranslate"><span class="pre">Download</span> <span class="pre">Jupyter</span> <span class="pre">notebook:</span> <span class="pre">use-case-application.ipynb</span></code></a></p>
</div>
</div>
<p class="sphx-glr-signature"><a class="reference external" href="https://sphinx-gallery.github.io">Gallery generated by Sphinx-Gallery</a></p>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, NCAR

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>